* {
  box-sizing: border-box;
}

@import "react-quill/dist/quill.snow.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

#backtop {
  position: fixed;
  right: 10px;
  bottom: 130px;
  z-index: 10001;
  display: block;
  width: 45px;
  height: 45px;
}
#backtop a {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: block;
  transition: all 0.3s ease-in-out;
  position: relative;
  background-color: #c82f35;
  z-index: 100;
}
#backtop a:before {
  position: absolute;
  left: 16px;
  top: 17px;
  content: "";
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
